
@font-face {
 font-family: 'millwaukee';
 src : url('https://use.typekit.net/af/831d53/000000000000000000011c34/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
}
@keyframes SHW {
    to {
        top: 20%;
        left:20%;
    }
}
body, html {
    overflow-x: hidden; 
    overflow-y: hidden;
    font-family: 'millwaukee'
}

.overlay {
    z-index: 1000;
    position: absolute;
    width:110%;
    left: -5%;
    top: -5%;
    padding: 0;
    margin: 0;
    height: 110%;
    transition: 2s;
    background: red;
    transform-origin: 20% 40%;
}
.overlay-top {
    z-index: 1200;
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: white;
    transform: rotate(-45deg);
    -webkit-transition: top 50%;
    -moz-transition: top 50%;
    transition: top 50%;
}
.overlay-animation {
    animation: SHW 10s;
    animation-fill-mode: both
}
.overlay-bottom {
    z-index: 1200;
    position: absolute;
    width: 200%;
    height: 200%;
    top: -20%;
    left: -20%;
    transform: rotate(-45deg);
    background: green;
}
.landing-page {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    color: white;
    font-size: 2em;
    text-align: center;
    .count-total {
        position:absolute;
        left:27%;
        top:200px;
        font-size: 2.1em;
    }
    .scroll-target {
        position: absolute;
        z-index: 10;    
        width: 100%;
        height: 800px;
        text-align: center;
        top: 220px;
        
        .counter {
            position: absolute;
            left: 25%;
            line-height: 2px;
            &:hover {
                text-decoration: underline;
            }
        }
        .text {
            position: absolute;
            right: 0;
            font-size: .4em;
            width: 20%;
            word-wrap: break-word;
            line-height: 25px;
            -moz-osx-font-smoothing: grayscale
        }
        .explore {
            top:-10%;
            width: 300px;
            position: absolute;
            left: 45%;
        }


    }
    .ytp-watermark {
        display: none;
    }
    .ytp-large-play-button{
        display: none;
    }
    .ytp-button {
        display: none !important;
    }
    .video-wrapper {
        z-index: -1;
        position: absolute;
        left:-5%;
        top:30px;
        width: 100%;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
    }
}
.status-circle {
    position: absolute;
    z-index: 11;
    top: 10%;
    left: 0; bottom: 0; right: 0;
    
    #svg circle {
        stroke: #666;
        stroke-width: .25em;
      }
      #svg #bar-background {
        color:white;
        z-index: -1;        
        opacity: .3;
      }
      #svg #bar {
        stroke: white;
        z-index: 100;
      }
          
}
